/node_modules/
/public/assets/css/
!/public/assets/css/.gitkeep
/public/assets/js/
!/public/assets/js/lib

.vscode
.idea
*.iml
.azure

/.gitlab-ci-local
/.gitlab-ci-local-variables.yml

.env
Thumbs.db

*.d.ts
build-meta.json
