/* general flow */

[data-flow-ui-type] {
    [data-flow-inner] {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 100vw;
            height: calc(100% - 50px);
            background-position: center;
            background-image: url("/assets/img/ico-128.png");
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
            transition-delay: 0.2s;
            pointer-events: none;
        }

        &.busy {
            &::after {
                transition: opacity 0.2s ease;
                opacity: 1;
                animation: spin 1s linear infinite;
            }
        }

        .arrow {
            font-size: larger;
            font-weight: 800;
            margin-left: 1rem;
        }

        a:link,
        a:visited {
            color: var(--color-accent-200);
            text-decoration: none;
            font-weight: 800;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    /* utility */

    flow-ui-step {
        &.skipped {
            display: none !important;
        }

        &:not(.completed) {
            .when-completed {
                display: none;
            }
        }
        &.completed {
            .when-completed {
                display: unset;
            }

            [data-flow-continue]{
                opacity: 0;
                transition: opactiy 1s ease;
                transition-delay: .5s;
            }
        }

        &:not(.running) {
            .when-running {
                display: none;
            }
        }
        &.running {
            .when-running {
                display: unset;
            }
        }
    }

    /* form - SOME GENERIC */

    form {
        label {
            display: block;
        }

        .form-group {
            legend {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            [data-label] {
                font-size: 1rem;
            }
        }

        fieldset {
            border: 0;

            &:has(legend) {
                display: grid;
            }

            &.horizontal {
                flex-direction: row;
            }

            [data-flow-continue] {
                margin-top: 2rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-items: center;
                justify-content: space-between;
                gap: 0.5rem;
            }

            label {
                display: block;
                font-weight: 400;
            }

            legend {
                display: block;
                font-size: 18px;
                font-weight: 600;

                &:empty {
                    display: none;
                }
            }

            &[data-control-type] {
                > label {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }

        fieldset[data-radio] {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-start;
            > label {
                display: flex;
                gap: 0.5rem;
                flex-direction: row;
                justify-content: center;
                justify-items: center;
                align-items: center;

                > input {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .complete:not(:last-child) {
            display: none;
        }
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
}
