:root {
    --color-accent: #a22f4d;
    --rad-default: 1rem;
    --rad-small: .5rem;
    --pad-default: 1rem 2rem;
}

@media (prefers-color-scheme: light) {
    :root{
        --color-accent: #dd446d;
    }
}