@use "./variables";
@import url("/assets/css/flow.css");

body {
    padding: 2rem;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}

main nav {
    display: flex;
    gap: 1rem;

    > * {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: 3px solid rgba(127, 127, 127, 0.5);
    }

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: inherit;
    }
}

form,
section {
    border-radius: var(--rad-default);
}

section {
    padding: var(--pad-default);
}

input,
textarea {
    font-size: 1.2rem;
    padding: var(--pad-default);
    border-radius: var(--rad-default);
    width: fit-content;
    outline: none;
}

textarea {
    outline: none;
    min-height: 7rem;
    min-width: 250px;
    resize: vertical;
    border-radius: 0.5rem;
    padding: 0.8rem 1.4rem;
    font-family: inherit;
    font-size: 1.2rem;
}

input {
    &[type="checkbox"],
    &[type="radio"] {
        width: unset;
    }
}

input::placeholder,
textarea::placeholder {
    color: #888;
    font-style: italic;
}

button {
    border: 0;
    padding: 0.6rem 1rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: inset -0.1rem -0.1em rgba(0, 0, 0, 0.5);

    &:hover {
        filter: brightness(120%);
        transition: 0.2s ease-in-out;
    }

    &:active {
        transform: translate(0.1rem, 0.1rem);
        transition: 0.2s ease-in-out;
    }

    &.primary {
        background-color: var(--color-accent);
    }

    &.secondary {
        border: 2px solid var(--color-accent);
        background-color: transparent;
        color: var(--color-label);
        box-shadow: none;
    }
}

.flex {
    display: flex;
    &.row {
        flex-direction: row;
        gap: 0.5rem;
    }
}

@media (prefers-color-scheme: dark) {
    form,
    section {
        background-color: #333;
        --label-color: #ccc;
    }
}

@media (prefers-color-scheme: light) {
    form,
    section {
        background-color: #eee;
        --label-color: #333;
    }
}

dl.key-value {
    display: grid;
    grid-template-columns: 100px 1fr;

    dt {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: right;
        opacity: 0.75;
    }
    dt:after {
        content: ":";
        display: inline;
    }

    dd {
        font-weight: 800;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
}

.c-why {
    color: var(--color-accent); /* custom class in flow */
}

flow-ui-step {
    article {
        margin: 0;
    }
}

chat-flow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    flow-ui[type="chat"] [data-flow-inner] flow-ui-step {
        margin-left: 1rem;
        margin-right: 1rem;

        &.running:has(form) {
            padding: 0;
            margin: 0;
            form {
                padding: 0;
            }
        }
    }

    [data-flow-continue]{
        display: contents;
    }
}

flow-ui#thread {
    display: flex;
    flex-direction: column-reverse;
    height: 100lvh;

    [data-flow-inner] {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .chat-box {
        min-height: unset;
    }

    form {
        background-color: transparent;

        [data-flow-continue] {
            position: relative;

            [name="back"] {
                display: none;
            }

            textarea {
                padding-right: 60px;
            }

            button {
                position: absolute;
                bottom: 40px;
                right: 15px;
                background-color: transparent;
                color: inherit;
                box-shadow: none;
            }
        }
    }

    time {
        display: block;
        width: 100%;
        text-align: right;
        margin-top: 1rem;
        font-size: small;
        opacity: 0.5;
    }
}
